{% extends "firstapp/base.html" %}
{% block head %}
<title>
    Counsell
</title>
{% endblock %}
{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Counselling Types</h2>
          <h3 class="section-subheading text-muted">Choose accordingly</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <a style="text-decoration: none; color: inherit;" href="video"><span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Video Counselling</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </a></div>
        <div  class="col-md-4">
        <a style="text-decoration: none; color: inherit;" href="chat/admin"><span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Text Counselling</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </a></div>
      </div>
    </div>
  </section>
  {% endblock %}
